<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MMG</title>
</head>
<body>
<div>
    <h1>Чемпионы сезона 2023 - 2024</h1>
    <h2><span style="color: blue;">Металлург Магнитогорск</span></h2>
    <img src="https://avatars.mds.yandex.net/i?id=d718d1d2ce69bcf01105ce0564adf3a1eeabdd9c-17843417-images-thumbs&n=13" style="width: 350px">
    <h3>Тренер: Андрей Разин</h3>
    <img src="https://avatars.mds.yandex.net/i?id=e99c45c0e09ff57f2a702f39912365c73e8b115e-4241399-images-thumbs&n=13" style="width: 200px">
    <p>Состав:</p>
    <ol>
        <li>Вратари: Илья Набоков, Александр Смолин</li>
        <li>Защитники: Робин Пресс, Алексей Маклюков, Валерий Орехов, Макар Хабаров</li>
        <li>Нападающие: Андрей Козлов, Данила Юров, Никита Михайлис, Дмитрий Силантьев, Роман Канцеров, Люк Джонсон</li>
    </ol>
    <input type="text" placeholder="Укажите лучшего игрока">
    <button type="submit">Отправить</button>
    <p></p>
    <a href="https://metallurg.ru/"> Официальный сайт команды</a>
</div>
</body>
</html>